# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
*.~lock*
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Temporary files created by python
*.pyc
*.ipynb
# Temporary files from gapseq
*.xml
*.tbl
*.lst
*.fasta
*.old
*.tmp
*.fai
*.bak
*.log
*.RDS
*.swp
*.tbl
*.csv
*.lst
*.rxnlst
src/graveyard/*
# R-Studio project files
.Rproj.user
gapseq.Rproj
# Database files
dat/seq/Bacteria/rev/*
dat/seq/Bacteria/rxn/*
dat/seq/Bacteria/unrev/*
dat/seq/Archaea/rev/*
dat/seq/Archaea/rxn/*
dat/seq/Archaea/unrev/*
# Unit tests
unit/genomes
unit/out
# pandraft toy intermediates
toy/panDraft